html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 300px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 300px;
 height: 200px;
 margin: auto;
 border: 5px solid black;
 
 background: url('scenery.webp');
 background-size: cover;
 overflow: hidden; 
}

#ditto {
    width: 75px;
    /* Use RELATIVE positioning! */
    position: relative;
    top: 50px;
    left: 200px;
    z-index: 10;
    animation: ditto-jump 2s infinite ease-in-out;
}
@keyframes ditto-jump {
    0% { transform: translate(0px,0px); }
    50% { transform: translate(-10px,-20px); }
    100% { transform: translate(-20px,60px); }
}
