html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 300px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 300px;
 height: 200px;
 margin: auto;
 border: 5px solid black;
 
 background: url('scenery.webp');
 background-size: cover;
 overflow: hidden; 
}

#stump {
    width: 120px;
    position: relative;
    top: 90px;
    left: 195px;
    z-index: 9;
}

#ditto {
    width: 70px;
    position: relative;
    top: 15px;
    left: 97px;
    z-index: 10;
    animation: ditto-jump 8s infinite ease-in-out;
}
@keyframes ditto-jump {
    0% { transform: translate(0px,0px) scale(0); opacity: 0; }
    10% { transform: translate(0px,0px) scale(1); opacity: 1; }
    20% { transform: translate(-50px,-40px); }
    30% { transform: translate(-100px,60px); }
    40% { transform: translate(-100px,60px) scale(1); opacity: 1; }
    50% { transform: translate(-100px,60px) scale(0); opacity: 0; }
    100% { transform: translate(-100px,60px) scale(0); opacity: 0; }
}

#ditto-pika {
    width: 95px;
    position: relative;
    top: 95px;
    left: -95px;
    z-index: 11;
    animation: ditto-transform 8s infinite linear;
}
@keyframes ditto-transform {
    0% { transform: scale(0); opacity: 0; }
    40% { transform: scale(0); opacity: 1; }
    45% { transform: scale(1); opacity: 1; }
    90% { transform: scale(1); opacity: 1; }
    95% { transform: scale(0); opacity: 0; }
    100% { transform: scale(0); opacity: 0; }
}

#glow {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: aqua;
    opacity: 0;
    position: relative;
    top: 50px;
    left: 140px;
    z-index: 12;
    animation: glowing 8s infinite linear;
}
@keyframes glowing {
    0% { box-shadow: 0px 0px 0px 0px aqua; }
    83% { box-shadow: 0px 0px 0px 0px aqua; opacity: 0; }
    87% { box-shadow: 0px 0px 50px 50px aqua; opacity: 1; }
    91% { box-shadow: 0px 0px 0px 0px aqua; opacity: 0; }
    100% { box-shadow: 0px 0px 0px 0px aqua; }
}